

data/



# CSV files

*.csv



# Excel files

*.xlsx

*.xls


# Trained models
models/
*.pkl
*.joblib
*.sav
*.h5
*.onnx





# Jupyter checkpoints

.ipynb_checkpoints/



# Python cache

__pycache__/

*.pyc



# Virtual environments

venv/

env/



# OS files

.DS_Store

Thumbs.db
.venv/
__pycache__/
*.pyc

# Python
__pycache__/
*.pyc
.venv/
venv/

# OS / IDE
.DS_Store
.vscode/

# Cache
.streamlit/
